<!-- dec deg or dms: -->
<!--<div class="form-group">
    <label class="col-md-3 control-label"></label>
    <div class="col-md-6">
        <label class="radio-inline">
            <input type="radio" name="decDegORdms" ng-change="latLongChange()" ng-model="decDegORdms" value="dd" /> Dec Deg
        </label>
        <label class="radio-inline">
            <input type="radio" name="decDegORdms" ng-change="latLongChange()" ng-model="decDegORdms" value="dms" /> DMS
        </label>
    </div>
</div>-->

<!-- Latitude:  ng-if="decDegORdms == 'dd'"-->
<div class="form-group">
    <label class="col-md-3 control-label" for="inputLATITUDE_DD">Latitude:</label>
    <div class="col-md-6">
        {{customerInfo.name}}, {{customerInfo.address}} <!--<input class="form-control" ng-keypress="isNum($event)" name="LATITUDE_DD" id="inputLATITUDE_DD" ng-model="LATITUDE_DD" type="text" />-->
    </div>
    <!--<div class="col-md-6" ng-if="decDegORdms == 'dms'">
        <table>
            <tr>
                <td><input class="form-control" ng-keypress="isNum($event)" name="Deg" ng-model="DMS.LADeg" type="text" /></td>
                <td>°</td>
                <td><input class="form-control" ng-keypress="isNum($event)" name="Min" ng-model="DMS.LAMin" type="text" /></td>
                <td>′</td>
                <td><input class="form-control" ng-keypress="isNum($event)" name="Sec" ng-model="DMS.LASec" type="text" /></td>
                <td>″</td>
            </tr>
        </table>
    </div>-->
</div>

<!-- Longitude:  ng-if="decDegORdms == 'dd'"-->
<div class="form-group">
    <label class="col-md-3 control-label" for="inputLONGITUDE_DD">Longitude:</label>
    <div class="col-md-6">
       <!-- <input class="form-control" ng-keypress="isNum($event)" id="inputlongitude_dd" name="LONGITUDE_DD" ng-model="LONGITUDE_DD" type="text" />-->
    </div>
    <!--<div class="col-md-6" ng-if="decDegORdms == 'dms'">
        <table>
            <tr>
                <td><input class="form-control" ng-keypress="isNum($event)" name="Deg" ng-model="DMS.LODeg" type="text" /></td>
                <td>°</td>
                <td><input class="form-control" ng-keypress="isNum($event)" name="Min" ng-model="DMS.LOMin" type="text" /></td>
                <td>′</td>
                <td><input class="form-control" ng-keypress="isNum($event)" name="Sec" ng-model="DMS.LOSec" type="text" /></td>
                <td>″</td>
            </tr>
        </table>
    </div>-->
</div>